.img-circler {
    /* position: relative; */
    /* width: 130px; */
    width: 180px;
    /* height: 130px; */
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    /* background-image: url("./assets/images/matt.jpg") */

    /* width: 200px;
    height: 200px; */
    background-image: url('../images/matt.jpg');
    /* background-size: cover; */
    /* background-size: 130px 170px; */
    background-size: 180px 250px;
    /* background-size: contain; */
    /* background-size: 50%; */
    /* background-position: center; */
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    /* border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px; */

    /* margin-top: 40px; */
    /* margin-right: 0px; */
    /* margin-bottom: 40px; */
}



.pic-sizer {
    /* height: 400px; */
    /* height: 200px; */
    /* vertical-align: middle; */
    /* height: 100px; */
    /* height: 100%; */
    height: auto;
    width: 100%;
    /* weight: 100px; */
    /* border-radius: 50%; */
    /* margin-top: 40px;
    margin-left: 20px; */
    margin-bottom: 20px;
}

.space {
    margin-bottom: 20px;
}

/* .color-green1 {
    color: #70c92f;
}

.color-green2 {
    color: #56b90e;
}

.link-green1 {
    
} */

p a:link
{
   color: #70c92f;
   text-decoration: none;
}
p a:visited
{
   color: #70c92f;
   text-decoration: none;
}
p a:hover
{
   color: #55b90e8f;
   text-decoration: none;
}
p a:active
{
   color: #70c92f;
   text-decoration: none;
}
