.img-circler {
    /* position: relative; */
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    /* background-image: url("./assets/images/matt.jpg") */

    /* width: 200px;
    height: 200px; */
    background-image: url('../images/matt.jpg');
    /* background-size: cover; */
    background-size: 130px 170px;
    /* background-size: contain; */
    /* background-size: 50%; */
    /* background-position: center; */
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    /* border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px; */

    /* margin-top: 40px; */
    /* margin-right: 0px; */
    /* margin-bottom: 40px; */
}



.pic-sizer {
    /* height: 400px; */
    /* height: 200px; */
    /* vertical-align: middle; */
    /* height: 100px; */
    /* height: 100%; */
    height: auto;
    width: 100%;
    /* weight: 100px; */
    /* border-radius: 50%; */
    /* margin-top: 40px;
    margin-left: 20px; */
    margin-bottom: 20px;
}

.space {
    margin-bottom: 20px;
}